header{
	background-color: #f15b31;
	padding: 30px 20px 30px 20px;
}
h1{
	font-family: "RALEWAY";
	color:#0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}
nav{
	background-color: #00a6b3;
	text-transform: uppercase;
	padding: 20px 0 20px 0;

}

a{
	font-family: "RALEWAY";
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	margin: 0 20px 0 20px;
}
a:hover {
  color: #f15b31;
}
	

h2{
	font-family: "RALEWAY";
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p{
	font-family: "droid serif";
	font-size: 18px;
	line-height: 26px;
}
body{
	text-align: center;
}
img{
	margin: 40px auto 40px auto;
}
main{
	width: 850px;
	margin: 35px auto 35px auto;
}
/*Make the text uppercase.
Add 20px padding on the right and left sides.
Give it a background color of #0D2C40.
The text color should be white.
The font size should be 14px.
Give it a letter spacing of .08em.
The font weight should be 500.

.name in your style.css file and give it a color of #F15B31 and a font weight of 700.

*/

footer{
	text-transform: uppercase;
	padding: 0 20px 0 20px;
	background-color: #0d2c40;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	font-family: "RALEWAY";
	float:left;
}
.message{
	font-family: "RALEWAY";
	float:right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
.name{
	color: #f15b31;
	font-weight: 700;
}
img,.board_clearfix{
	margin:0 10px 0 10px;
}